[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
graphene = "==2.1.9"
alembic = "*"
sqlalchemy = "*"
psycopg2-binary = "*"
python-dotenv = "*"
pyjwt = "*"
passlib = {extras = ["bcrypt"], version = "*"}
graphene-sqlalchemy = "==2.0"
gunicorn = "*"
graphene-federation = "*"

[dev-packages]
black = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
